<%= render partial: 'layouts/admin_header' %>
<ul class="center-block" style="width: 100%; height: 40vh; margin-top: 20vh;">
  <li class="h3"><a href="/daily_post/index">日記一覧</a></li>
  <li class="h3"><a href="/daily_post/new">日記新規作成</a></li>
  <li class="h3"><a>体験予約一覧（追加予定）</a></li>
</ul>