<div class="top-warpper">
    <div class="container">
        <div class="media-top">
            <div class="text">
                <h1>茶道教室<br>
                    <br>
                    SAKURA <br class="sp">CLUB</h1>
            </div>
            <%= ix_image_tag("S_co.jpg", tag_options: { class: "S_co" })%>
            <div class="grade-top"> </div>
        </div>
    </div>
</div>
