<%= render partial: 'layouts/admin_header' %>
<ul class="center-block" style="width: 30%; height: 40vh; margin-top: 20vh;">
  <li class="h3"><a>日記一覧</a></li>
  <li class="h3"><a>お問い合わせ一覧</a></li>
  <li class="h3"><a>体験予約一覧</a></li>
</ul>