<div class="text-center mt_10 main_width_access">
    <h3 class="pd_l_10 letter_spacing_md letter_spacing_sm_sp text_center_sp pd_sm_sp mg_0_sp">アクセス</h3>
    <div class="flex flex_column_sp">
        <div class="text-center mg_access width_access">
            <iframe class="w_100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d403.9131336852461!2d139.52297010634936!3d35.91503212893249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018dbab9051320b%3A0x7224355825e9a952!2z6Iy26YGT5pWZ5a6kIFNBS1VSQeOCr-ODqeODlg!5e0!3m2!1sja!2sjp!4v1705299703413!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="mb_5 mt_10 mg_0_sp width_access">
            <div class="pd_t_5 font_lg text_left pd_l_10 pd_sm_sp mb_5">
                <p>
                    住所：<br>
                    〒350-0001<br>
                    埼玉県川越市古谷上3761-1<br>
                    <br>
                    国道16号 古谷の交差点近くです。<br>
                    <br>
                    【バス】<br>
                    本川越・川越駅発　:　西武バス<br>
                    古谷上のバス停より徒歩3分<br>
                    <br>
                    南古谷駅発　:　川越シャトルバス<br>
                    古谷市民センターより徒歩３分<br>
                    <br>
                    【電車】<br>
                    JR川越線　:　南古谷駅より徒歩20分<br>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $('header').show();
        $('header').toggleClass("header_fixed");
    });
</script>
