<h1>アクセス</h1>
<div class="acsess-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d201.9563388060703!2d139.52295232101784!3d35.91512145179774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018db2bd4293883%3A0xccf0333782dfd9a!2z44CSMzUwLTAwMDEg5Z-8546J55yM5bed6LaK5biC5Y-k6LC35LiK77yT77yX77yW77yR!5e0!3m2!1sja!2sjp!4v1683268195372!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="acsess">
    <p>
    〒350-0001<br>
    埼玉県川越市古谷上3761-1<br>
    国道16号　古谷の交差点近くになります。<br>
    バス：本川越・川越駅発　西武バス　古谷上のバス停より徒歩３分<br>
    　　　南古谷駅発　川越シャトルバス　古谷市民センター徒歩３分<br>
    電車：JR川越線　南古谷駅より徒歩２０分<br>
    </p>
</div>