
<div class="acsess-warpper">
    <h1>アクセス</h1>
    <div class="acsess-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d327.637526294763!2d139.52302023561663!3d35.91502132957273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzXCsDU0JzU0LjEiTiAxMznCsDMxJzIzLjUiRQ!5e0!3m2!1sja!2sjp!4v1685887471319!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="acsess">
        <p>
        〒350-0001<br>
        埼玉県川越市古谷上3761-1<br>
        <br>
        国道16号　古谷の交差点近くになります。<br>
        <br>
        【バス】<br>
        本川越・川越駅発　:　西武バス<br>
        古谷上のバス停より徒歩3分<br>
        <br>
        南古谷駅発　:　川越シャトルバス<br>
        古谷市民センターより徒歩３分<br>
        <br>
        【電車】<br>
        JR川越線　:　南古谷駅より徒歩20分<br>
        </p>
    </div>
</div>