
<div class="adult-class">
    <h1>大人クラス</h1>
    <div class="adult">
        <div class="submain">
            <img class="adult-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/adult_class.jpg">
            <div class="adult-grade"> </div>
            <div class="adult-point">
                <p>
                中学生～高齢の方のためのクラスです。<br>
                大人クラスは一人二度点前＆客の<br class="sp">お稽古をおこないます。<br>
                その日ご一緒する人数にもよりますが<br class="sp">１回のお稽古は<br class="pc">約２時間程度です。<br>
                また、本格的にお稽古をなさりたい方には<br>資格（許状）習得に向けた指導をしております。
                </p>
            </div>      
        </div>
        <div class="main">
            <h1><span class="h1">時間</span></h1>
            <div class="table">
                <table border="1">
                    <tr>
                    <th>曜日</th>
                    <th>時間</th>
                    </tr>
                    <tr>
                    <td>水曜日</td>
                    <td>9:00-17:00</td>
                    </tr>
                    <tr>
                    <td>土曜日</td>
                    <td>9:00-13:00</td>
                    </tr>
                </table>
            </div>
            <h1><span class="h1">金額</span></h1>
            <p class="value">
                3000円 / 1回<br>
                4000円 / 2回<br>
                6000円 / 3回<br>
            </p>
        </div>
        <a href="/personal-class">
            <p>個別稽古はこちら</p>
        </a>
        <a href="/children-class">
            <p>こどもクラスはこちら</p>
        </a>
    </div>
</div>