<div class="adult-class">
    <h1>大人クラス</h1>
    <div class="adult">
        <p>
            中学生～高齢の方のためのクラスです。<br>
            大人クラスは一人二度点前＆客のお稽古をおこないます。<br>
            その日ご一緒する人数にもよりますが１回のお稽古は約２時間程度です。<br>
            また、本格的にお稽古をなさりたい方には資格（許状）習得に向けた指導をしております。
        </p>
        <div class="table">
            <table border="1" >
                <tr>
                <th>曜日</th>
                <th>時間</th>
                </tr>
                <tr>
                <td>土曜日</td>
                <td>14:00-17:00</td>
                </tr>
                <tr>
                <td>テキスト</td>
                <td>テキスト</td>
                </tr>
            </table>
        </div>
        <a href="/personal-class">
            <p>個別稽古はこちら</p>
        </a>
        <a href="/children-class">
            <p>こどもクラスはこちら</p>
        </a>
    </div>
</div>