<h1>お稽古の様子</h1>
<div class="appearance-img">
    <img src="appearance1.jpg">
    <img src="appearance2.jpg">
</div>
<div class="appearance">
<p>
初めての方は、客の所作や割稽古から始めます。<br>
続いて盆略点前・薄茶点前他...と進度に合わせて稽古を進めます。<br>
また、希望される方には許状申請も行います。<br>
各々の茶道への思いに合わせ稽古を進めてまいります。<br>
</p>
</div>