<div class="main-height">
    <h1>クラス</h1>
    <div class="class-main">
        
        <div class="class">
            <div class="classes">
                <%# 子供クラス %>
                <div class="class-menu">
                    <a href="/children-class">
                        <div class="class-icon">
                            <img src="https://lh3.googleusercontent.com/EIFVr8wK7sVz5nM3Zw3CucMst_aiXp94BOo36jsoByGb7HQ6Ej4PFQZKmZLAvNh-gr2E_eeWg0wd0-oIky9voHKQH00wFJLH7UKaniK_-hL8bAivDtEBzHbY_bjbwpIbXfEo8djr_PuutkNB19P66bxtiHBmoAVgjetX0M2QCfHTQwIpq2OwdE6NTgB_ZCuyfPONPvYDonxBCsODlzD-beD5FmJv3HjqClmzyA2yDongEovteRgN9wtCcp5BYobNpn81gWTyGp8GiN02zh17X1L_A8P9TaFuxc-60EOtKxvIiNjp3aCOVisjogKUbRi-YeneSeilSQW68O1wBvlrBzQ-pDu2O3e2uRb6mEvJdgfI1hFdEe2z2OrvZjB9Q48dcwXM6Z5wFMR3HVirwGROqmAn8y150167McZccTqCbOonQG_pC-iOmkwUI4i7ou-tYSTCUo2IEk0cQUXjNKbnz_-Phv2KrgjnH81fzfKZYgMO2Bd_mlEdRjJMJxKSsai9DO4fAmnOHL1j2KK5jwLF87kGlT9umCfNuwSm7mmeGCICRrQ4wUm-BknSKzDO704MIWSrVOt8FfAEvXJ0rG1Lv36CxESNIdig-5hc_XpW9UV5jl1mthiRXWMN7Hr2qzj1FlUMGJ9HQ78YbNXaVZlfjnED6qmph1iIVRuoHg2Ffa4s7YMTZMPmvvHSpqEvMYScIVp-XRBvAt-fOq-mROWs8I9-f-ppxt2kPtI6ERmgPsZoTA9TyfARbw8Ek6i_4yYSKPWGba2l1UKIs2RK0NeZaMW3dRFSpmfj1hMERJ2-L1UY2CBQ7cgQ5W-ZZ2nzuqwcV5d7Dg2G-1eRjXJvol7ddf3KK_hI14_UZ2V-__zk4Rz3XVfMkSVEjIMWF0cmcpshmyh5TuOGevvj-1nB9gLGNRjYHWWUCf6wM4H1gqUbpm-S-fR2I3ewMabXwQihA_ncRtLARp6rf58HCJiG5w8=w340-h340-s-no?authuser=1">
                            <p>こどもクラス</p>
                        </div>
                    </a>
                    <p>
                    小学生のクラスです。<br>
                    現在小2～小6の児童がお稽古にいらしています。<br>
                    数人での団体稽古になります。<br>
                    </p>
                </div>
                <%# 大人クラス %>
                <div class="class-menu">
                    <a href="/adult-class">
                        <div class="class-icon">
                            <img src="https://lh3.googleusercontent.com/utkU_OzXfoAv-5XurxkY8hKzUVVmJqUEZPUPgDSEN6Tz2urXwDCvzbqNueUEAxyMrQwRiCJVq69FVSVKiEgZXToxz6y6H3IVaK_4n_LLnKy_Saly_er5fM1mdCpy1zji77QgnFjEwC91I1NwKtsx4evw33c0H9xTYyigJNA18PFJaXcQYntD75e0yhXxGTtfwGfBmh_k1b9vPi7fMUGs6JHM6qKU2i3Swl3fr9omN4KUx94lFHZ6Z5XaVLKqazDlsOkB1DFFOZU54kgOdik082fbhCukMtbJQbxNPBaKEdPELEtL_Kqr2VmLL5D6FYV1hdeDocy7lL4YULgPOcvKwjfucvaIc_xbDdRoQtknAp6RjGUQwjickM1BZ1WsiW4ODYdEXo01zqRyFZWKGYydP899xfZZWp4yBLWbcxKYZCj280w3vn2TIhsgGVmnX_1aKrJdlcOe8kBToelJLkRrCeeY0LOc2VQ2hq9hjxt_MP_htcYVcHCnHjhkw_E2zED9mltkB8MqlL1KjIl3rjdmP289FGxRTkLC4wN0hxnCl0mtmJ86npqZ8oOK8RV0BMQmCAbTyzo59VqfMB5zPSKFD-C4A3VdyN0X4FmjN-ZJat4R1zm2e3vAgr-xzRepXssln0OxMFGQCtawrYtkMsccbvUNpJvOLA8X5w56_CbG7ptfuX1wdhum2wXqeorh1fOIgRr_MBAETYEbMua89P32hTehaGr14pC6wHVVfBNRUzj-hzmgi1Huew8Au6NUc_4ZRQl1kzZ3Xm0kgWgW-ddHUcGwYNW2l5wUfKKj5a8Oup7iDm3DUxo_BZhd8_NHUKzKeGckibX1AQKXSh1vEzGj6eZ_WufgFpW8LI70peUCDXrZLehYtmsC_FeRmLbLr6u-hs8eSzGuroXwRGrgghaM9mgvCYd9zyEpfSNqzcNdLP8rv13eaVH5bKeuEIJszNPnGZEgnHqGoxLKT1O-wMk=w791-h756-s-no?authuser=1">
                            <p>大人クラス</p>
                        </div>
                    </a>
                    <p>
                    中学生～高齢の方のためのクラスです。<br>
                    大人クラスは一人二度点前＆客のお稽古をおこないます。
                    </p>
                </div>
                <%# 個別稽古 %>
                <div class="class-menu">
                    <a href="/personal-class">
                        <div class="class-icon">
                            <img src="https://lh3.googleusercontent.com/vo3bssVArwTffiPWha-symOKmd-7W7dCgKqyc3NyXKPnzWVMj9z62hBLqNVmk_BYfVnxMuX5TKvlt_9EuPD6-D31M1O4N-pd8ONFE05y-GoIM72vGq3daP7Ncn2CY8s33BagRTCU4rgBNYIBLOrfiSgPrZpsvlj1khKt6nNKSngWLDm3y-o5yBwbbI6fLZ_7s4K9yGhuyNcnDeAIJMzwC61HCiCoHgWj30Bhr_y_qBx9xLH9SFbAtRibz3KmCwOraUGKw2YW75QW3uDdbIkDBGh8ilg9zXoL31YMzzSDVYjz4GfFsDLV8s6EaUrfjC84Ku3ZVFsmpeAn6T5G-sf2P-ykFBFh4xx78Hq7_J8Dl4uHXdK0_axRC9sHPjhrGprzi2EI_jCUsu8E-nq3xaRMeeRqqVKH_l_j8UZt-HmXx2Tw-Fbclia843HZzeyaLaQ1NplsFroGHR26PMovn6LeJQDbX-M0xBVoKjdmOb1yjyBhwSSRVD7BGkQIAttZe8cEoDoN0pdZyqA5U-tcpoMI3a1P1tpnaZ11Itq14q473zTahnXjQ1mYjgZZwbI0AvF3lsp0BnBHP90OGARtC5F-KWEDw4Puh5YOZejKd1uLSlxwwNnTcia2bXS7gvH4s1XzUc0joNtCllbtq_jR_jQvzXTpaJxfx0PiICMeNSpO1mI0AaSP7EqwIlPmjDvrFyKCmwZS2vBpLTA-6_0smgg0rf6e3_dSEYS9PsR6bHcp5ejuERzBVfjGYqBcpRXnnc8JUeFjY87hMVtK0ALxaiOzqpSNexNr4zkf-Sx7Z51CyBFffpRRrRAbGDVY4U2NbfvpafKKkXmo8WPOKIIirUMzmUCZa1XjmJCrj4fsNxKPSIlWaAgE9aFqVn32jIpJ7SZaSS0AEC6FPKZ8wBzoI-QuZr2IIATGSV5nAFAVes0jeHLLhy3e1Zqh_IE0yAcE_coBrBZopoNn9Qq8jftLyes=w340-h340-s-no?authuser=1">
                            <p>個別稽古</p>
                        </div>
                    </a>
                    <p>
                    お稽古をしながらチャイルドカウンセラーと<br>
                    家族療法カウンセラーの資格を持っている講師が<br>
                    寄り添ってお話を聞きます。<br>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>