<%= stylesheet_link_tag "class", media: 'all', "data-turbo-track": "reload" %>
    
<div class="main-height">
    <h1>クラス</h1>
    <div class="class-main">
        
        <div class="class">
            <div class="classes">
                <%# 子供クラス %>
                <div class="class-menu">
                    <a href="children-class">
                        <div class="class-icon">
                            <%= ix_image_tag("children.jpg", tag_options: { class: "class-icon-img" })%>
                            <p>こどもクラス</p>
                        </div>
                    </a>
                    <p>
                    小学生のクラスです。<br>
                    現在小2～小6の児童がお稽古にいらしています。<br>
                    数人での団体稽古になります。<br>
                    </p>
                </div>
                <%# 大人クラス %>
                <div class="class-menu">
                    <a href="/adult-class">
                        <div class="class-icon">
                            <%= ix_image_tag("adult.jpg", tag_options: { class: "class-icon-img" })%>
                            <p>大人クラス</p>
                        </div>
                    </a>
                    <p>
                    中学生～高齢の方のためのクラスです。<br>
                    大人クラスは一人二度点前＆客のお稽古をおこないます。
                    </p>
                </div>
                <%# 個別稽古 %>
                <div class="class-menu">
                    <a href="/personal-class">
                        <div class="class-icon">
                            <%= ix_image_tag("personal.jpg", tag_options: { class: "class-icon-img" })%>
                            <p>個別稽古</p>
                        </div>
                    </a>
                    <p>
                    おひとりで集中してゆっくりお稽古なさりたい方は<br>
                    個別にお稽古いたします。<br>
                    お稽古の内容は大人クラスと同様です。
                    <%# お稽古をしながらチャイルドカウンセラーと<br>
                    家族療法カウンセラーの資格を持っている講師が<br>
                    寄り添ってお話を聞きます。<br> %>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>