<div class="text-center">
    <h3 class="letter_spacing_md mt_3">クラス</h3>
    <div class="flex my_10 vw_100 flex_center_up">
        <%# 子供クラス %>
        <div class="vw_30">
            <a href="kids" class="link">
                <div>
                    <%= ix_image_tag("children.jpg", tag_options: { class: "w_100 pd_x_5 mb_3 hov_big" })%>
                </div>
                <table class="table pd_x_5 w_80 mg_0">
                    <tr>
                    <th style="border-top: none; font-weight: normal;">こどもクラス</th>
                    </tr>
                    <tr>
                    <td class="text_left">
                        小学生のクラスです。<br>
                        現在小2～小6の児童がお稽古にいらしています。<br>
                        数人での団体稽古になります。<br>
                    </td>
                    </tr>
                </table>
            </a>
        </div>
        <%# 大人クラス %>
        <div class="vw_30">
            <a href="general" class="link">
                <div>
                    <%= ix_image_tag("adult.jpg", tag_options: { class: "w_100 pd_x_5 mb_3 hov_big" })%>
                </div>
                <table class="table pd_x_5 w_80 mg_0">
                    <tr>
                    <th style="border-top: none; font-weight: normal;">大人クラス</th>
                    </tr>
                    <tr>
                    <td class="text_left">
                        中学生～高齢の方のためのクラスです。<br>
                        大人クラスは一人二度点前＆客のお稽古をおこないます。
                    </td>
                    </tr>
                </table>
            </a>
        </div>
        <%# 個別稽古 %>
        <div class="vw_30">
            <a href="personal" class="link">
                <div>
                    <%= ix_image_tag("personal.jpg", tag_options: { class: "w_100 pd_x_5 mb_3 hov_big" })%>
                </div>
                <table class="table pd_x_5 w_80 mg_0">
                    <tr>
                    <th style="border-top: none; font-weight: normal;">個別稽古</th>
                    </tr>
                    <tr>
                    <td class="text_left">
                        おひとりで集中してゆっくりお稽古なさりたい方は<br>
                        個別にお稽古いたします。<br>
                        お稽古の内容は大人クラスと同様です。
                    </td>
                    </tr>
                </table>
            </a>
        </div>
    </div>
</div>

<script>
    $(function() {
        $('header').show();
    });
</script>