<div class="main-height">
    <h1>クラス</h1>
    <div class="class-main">
        
        <div class="class">
            <div class="classes">
                <%# 子供クラス %>
                <div class="class-menu">
                    <a href="/children-class">
                        <div class="class-icon">
                            <img src="class/children-img.jpeg">
                            <p>こどもクラス</p>
                        </div>
                    </a>
                    <p>
                    小学生のクラスです。<br>
                    現在小2～小6の児童がお稽古にいらしています。<br>
                    数人での団体稽古になります。<br>
                    </p>
                </div>
                <%# 大人クラス %>
                <div class="class-menu">
                    <a href="/adult-class">
                        <div class="class-icon">
                            <img src="class/adult-img.jpg">
                            <p>大人クラス</p>
                        </div>
                    </a>
                    <p>
                    中学生～高齢の方のためのクラスです。<br>
                    大人クラスは一人二度点前＆客のお稽古をおこないます。
                    </p>
                </div>
                <%# 個別稽古 %>
                <div class="class-menu">
                    <a href="/personal-class">
                        <div class="class-icon">
                            <img src="class/personal-img.jpeg">
                            <p>個別稽古</p>
                        </div>
                    </a>
                    <p>
                    お稽古をしながらチャイルドカウンセラーと<br>
                    家族療法カウンセラーの資格を持っている講師が<br>
                    寄り添ってお話を聞きます。<br>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>