<div class="co">
    <h1><span>カウンセリング・個別稽古</span></h1>
    <div class="co-img">
        <img src="https://lh3.googleusercontent.com/CoR4bR3YFCazWwi8GCdPMkEyetU0Xm-wRiXA-HOUsB2bF0sxKb0QLnWFzRl6APHVje4o02I722VMuPw0TjfePP8EG3rdzY0ldcru78mgR85i8u6NYO1O7rxx7CNuOITSpG8srRxcBVoK_9ojZrlc3ftARSaHCZ9L5OR6RVabsLSb3T7BWPXSqy9O1teSLCccyJLJNgMIFqNq7ytKQmTcip0WXMw1-4cTJ0_vF0zNz2uNJpBYxAZoGUT3-1YMrkX31lLoHkRO69EPpMi98NyF074-SHVMr-diORSD1_hhgKJtpVuFRpScu2_Gs5YNiwkxgrHUM-1HvJVvUTWZkWMTzQ2rL4gJFyB-VGtPC42cJ0lqaveNjl4peeMNeFF7V6AWT7-tSZZqqhS89nfKKmCB0is01MC7_LiIlwnh9gwgoh1GmQwzPbgYfaEhEPisbHlgcWqxOmv2-caXxZHtSwHgTPerWI4DwNHpH9MwvFXVRYrQBmC57SQm1c-BkHZJdjnUHEB_5NT_LJXmFCgsFxlXuTCl_Ncfakq-9aFwcmKEk2-xn8SSAIgyNT9ze6VbGFfIHilKfj3ksFWQaishWYbgKOOLHlkbeW8Q6J-_t82XH_hkpx-M-7w6HpGEABGG2vwj-yzygbUKQpWBoyqDgQ3yQlVRUDU-bzTWsNv-2x0YXp1bybRm0Gr7HBD-IG539j6yy1Kb3uBKH4--o6rmrztXiBgpqXhMhf533wNK-Wvwlq5qF2u9BxFoI8Aj1zGop594M9UTZBFFOufFVq6A7PlB3ZYe7DYeBEnbCqY3kelBqNHp3ObdkYYjjAQtMHUWHuqEJfLjlSXnlxHe6-3vBZnM2pUc3P8vJMYrBsd_ntkQtGVI7xEO8gLYcjOqcfWZxAUeE2--JfI4ryGyQwJHeilcC65K3VsQEFaFmraKCCy24XJHETGL9Irs0Nq-GbrtO-rQjjNoK5fDOd7krSPWjpk=w1045-h788-s-no?authuser=1">
    </div>
    <div>
        <p>
        おひとりで集中してゆっくりお稽古なさりたい方は個別にお稽古いたします。<br>
        お稽古の内容は大人クラスと同様です。<br>
        また、不登校等のお子様にはチャイルドカウンセラー、<br>
        家族療法カウンセラーの資格を持つ講師がお稽古中に寄り添ってお話を聞きます。<br>
        お点前の時はお稽古に集中して、客の時は美味しいお菓子と抹茶をいただきながら講師と楽しい会話を。<br>
        子育てにお悩みの保護者の方や不登校などでお悩みのお子様等々、どうぞお気軽にお問合せください。
        </p>
    </div>
</div>