
<div class="experience">
    <h1>体験教室</h1>
    <div class="experience-img">
        <img src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/experience.jpg">
    </div>
    <div>
        <p>
        お電話かメールにてご予約ください。<br>
        詳細等、お気軽にお問合せください。<br>
        個々のご事情に合わせて対応させていただきます。<br>
        2000円/1回
        </p>
    </div>
</div>