
<div class="experience">
    <h1>体験教室</h1>
    <div class="experience-img">
        <img src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/experience.jpg">
    </div>
    <div>
        <p>
        予約フォームよりご予約下さい。<br>
        お電話やメールでも受け付けております。<br>
        詳細等、お気軽にお問合せください。<br>
        個々のご事情に合わせて対応させていただきます。<br>
        2000円/1回
        </p>
    </div>
    <div class="contacts">
    <h1>
        <%= link_to "お問い合わせはこちらから", new_contact_path %>
    </h1>
</div>
</div>