
<div class="personal-class">
    <div class="top-main">
        <h1><span class="h1">個別稽古</span></h1>
    </div>
    <div class="personal">
        <div class="submain">
            <img class="personal-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/S_personal.jpg">
            <div class="grade"> </div>
            <div class="personal-point">
                <p>
                ちょっと聞いてほしい悩み<br>
                <span>ちょっと背中を押してほしいな</span><br>
                ちょっと・・・・・<br>
                <span>いろんなことがありますよね(^_-)</span><br>
                一緒に考えて一緒に悩んで前に進みましょう
                </p>
            </div>
            </div>        
        </div>
    </div>
    <div class="main">
        <h1><span class="h1">詳細</span></h1>
        <p class="personal-detail">
            お稽古をしながらチャイルドカウンセラー、家族療法カウンセラーの<br class="pc">資格を持つ講師が、寄り添ってお話を聞きます。<br>
            お点前の時はお稽古に集中して、<br class="pc">客の時は美味しいお菓子と抹茶をいただきながら<br class="pc">講師がお話を聞きます。<br>
            子育てにお悩みの保護者の方や不登校などでお悩みのお子様、<br class="pc">どうぞお気軽にお問合せください。
        </p>
        <h1><span class="h1">時間</span></h1>
        <div class="table">
            <table border="1">
                <tr>
                <th>曜日</th>
                <th>時間</th>
                </tr>
                <tr>
                <td>木曜日</td>
                <td>9:00-20:00</td>
                </tr>
                <tr>
                <td>日曜日</td>
                <td>13:00-20:00</td>
                </tr>
            </table>
        </div>
        <h1><span class="h1">金額</span></h1>
        <p class="value">
            3000円/1回(約90分)
        </p>
    </div>
        <a href="/children-class">
            <p>こどもクラスはこちら</p>
        </a>
        <a href="/adult-class">
            <p>大人クラスはこちら</p>
        </a>
    </div>
</div>