<div class="personal-class">
    <h1>個別稽古</h1>
    <div class="personal">
        <p>
            お稽古をしながらチャイルドカウンセラー、家族療法カウンセラーの資格を持っている講師が<br>
            寄り添ってお話を聞きます。<br>
            お点前の時はお稽古に集中して、<br>
            客の時は美味しいお菓子と抹茶をいただきながら講師がお話を聞きます。<br>
            子育てにお悩みの保護者の方や不登校などでお悩みのお子様、どうぞお気軽にお問合せください。<br>
        </p>
        <div class="table">
            <table border="1">
                <tr>
                <th>曜日</th>
                <th>時間</th>
                </tr>
                <tr>
                <td>土曜日</td>
                <td>14:00-17:00</td>
                </tr>
                <tr>
                <td>テキスト</td>
                <td>テキスト</td>
                </tr>
            </table>
        </div>
        <a href="/children-class">
            <p>こどもクラスはこちら</p>
        </a>
        <a href="/adult-class">
            <p>大人クラスはこちら</p>
        </a>
    </div>
</div>