<div class="top-warpper">
    <div class="container">
        
        <div class="text">
            <h1>茶道教室<br>
                ×<br>
                カウンセリング</h1>
        </div>
        <img class="contnt-img" src="S_co.jpg">
    </div>
</div>

<div class="messege">
    <h1>たまにはゆっくりお話しましょ</h1>
    <p>
    当教室は、小学生からご高齢の方までいろんな方がお稽古にいらしています。<br>
    堅苦しくなく、和やかにお稽古をしています。<br>
    <%# 皆さんがお稽古を始められたきっかけは、何か新しいことをしてみたい・・・<br>
    和に触れてみたい・・・いつもと違う時間を過ごしてみたい・・・抹茶が好き・・と<br>
    様々ですが、それでもみんなが穏やかで一つになれる教室です。<br>
    茶道の手前と作法がそんな人柄をつくってくれます。<br> %>
    どうぞ四畳半の異空間で特別な時間を体験してみてください。
    </p>
    <div class="good-point">
        <div class="okashi">
            <img src="S_okashi.jpg">
            <p>美味しいお菓子と</p>
        </div>
        <div class="shiki">
            <p>四季を感じて</p>
            <img src="S_momo.jpg">
        </div>
        <div class="only">
            <img src="S_sakura.jpg">
            <p>自分と向き合える時間</p>
        </div>
    </div>

     <h1>お稽古の様子</h1>
     <p class="yousu">
     皆さんがお稽古を始められたきっかけは、<br>
     <span>何か新しいことをしてみたい・・・</span><br>
     <span>和に触れてみたい・・・</span><br>
     <span>いつもと違う時間を過ごしてみたい・・・</span><br>
     <span>抹茶が好き・・</span>と<br>
     皆さん様々ですが、それでもみんなが穏やかで一つになれる教室です。<br>
     茶道の手前と作法がそんな人柄をつくってくれます。<br>
    </p>

    <div class="messege-warpper">
        <ul class="slideshow">
            <li class="content"><img class="content-img" src="slideshow1.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow2.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow3.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow4.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow5.jpg"></li>
        </ul>
        <ul class="slideshow">
            <li class="content"><img class="content-img" src="slideshow1.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow2.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow3.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow4.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow5.jpg"></li>
        </ul>
        <ul class="slideshow">
            <li class="content"><img class="content-img" src="slideshow1.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow2.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow3.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow4.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow5.jpg"></li>
        </ul>
    </div>
   
</div>
<div class="top-information">
    <div class="informations">
        <h1>各種ご案内</h1>
        <div class="menus">
            <div class="menu">
                <a href="/co"><div class="menu-icon">
                    <img class="content-img" src="S_spring.jpg">
                    <p>お稽古<br>
                    ×<br>
                    カウンセリング</p>
                </div></a>
            </div>
            <div class="menu">
                <a href="/class"><div class="menu-icon">
                    <img class="content-img" src="S_summer.jpg">
                    <p>クラス</p>
                </div></a>
            </div>
            <div class="menu">
                <a href="/experience"><div class="menu-icon">
                    <img class="content-img" src="S_autumn.jpg">
                    <p>体験教室</p>
                </div></a>
            </div>
            <div class="menu">
                <a href="/acsess"><div class="menu-icon">
                    <img class="content-img" src="S_winter.jpg">
                    <p>アクセス</p>
                </div></a>
            </div>
        </div>
    </div>
</div>
<div class="contact-warpper">
    <div class="contact">
        <h1>お問い合わせ</h1>
    </div>
    <div class="contact-form">
        <label for="mail">メールアドレス（必須）</label><br>
            <input id="mail" type="email" name="mail"><br>
        <label for="name">お名前（必須）</label><br>
            <input id="name" type="text" name="yourname"><br>
        <label for="num">お電話番号</label><br>
            <input id="num" type="number" name="phon-number"><br>
        <label for="comment">お問い合わせ内容（必須）</label><br>
            <textarea id="comment" name="comment" placeholder="自由にコメントする"></textarea><br>
        <p>※必須項目は必ずご入力くださいませ</p><br>
        <div>
            <input class="contact-submit" type="submit" value="送信">
        </div>
    </div>
</div>