
<div class="top-warpper">
    <div class="container">
        <div class="media-top">
            <div class="text">
                <h1>茶道教室<br>
                    ×<br>
                    カウンセリング</h1>
            </div>
            <img src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/S_co.jpg">
            <div class="grade-top"> </div>
        </div>
    </div>
</div>

<div class="messege">
    <h1>たまにはゆっくりお話しましょ</h1>
    <p>
    当教室は、小学生からご高齢の方まで<br>いろんな方がお稽古にいらしています。<br>
    堅苦しくなく、<br>和やかにお稽古をしています。<br>
    どうぞ四畳半の異空間で特別な時間を<br>体験してみてください。
    </p>
    <div class="good-point">
        <div class="okashi">
            <div class="text-okashi">
                <p>美味しいお菓子と</p>
            </div>
            <img src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/S_okashi.jpg">
            <div class="grade-okashi"> </div>
        </div>
        <div class="shiki">
            <div class="text-shiki">
                <p>四季を感じて</p>
            </div>
            <img src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/S_momo.jpg">
            <div class="grade-shiki"> </div>
        </div>
        <div class="only">
            <div class="text-only">
                <p>自分と向き合える時間</p>
            </div>
            <img src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/S_sakura.jpg">
            <div class="grade-only"> </div>
        </div>
    </div>

     <h1>お稽古の様子</h1>
     <p class="yousu">
     皆さんがお稽古を始めたきっかけは、<br>
     <span>何か新しいことをしてみたい</span><br>
     <span>和に触れてみたい</span><br>
     <span>いつもと違う時間を過ごしてみたい</span><br>
     <span>抹茶が好き</span>と<br>
     皆さん様々ですが、<br class="sp">それでも皆が一つになれるのが茶道です。<br>
     茶道の手前と所作が<br class="sp">そんな人柄をつくってくれます。<br>
    </p>

    <div class="messege-warpper">
        <ul class="slideshow">
            <li class="content"><img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/slideshow1.jpg"></li>
            <li class="content"><img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/slideshow2.jpg"></li>
            <li class="content"><img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/slideshow3.jpg"></li>
            <li class="content"><img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/slideshow4.jpg"></li>
            <li class="content"><img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/slideshow5.jpg"></li>
        </ul>
        <ul class="slideshow">
            <li class="content"><img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/slideshow1.jpg"></li>
            <li class="content"><img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/slideshow2.jpg"></li>
            <li class="content"><img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/slideshow3.jpg"></li>
            <li class="content"><img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/slideshow4.jpg"></li>
            <li class="content"><img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/slideshow5.jpg"></li>
        </ul>
        <ul class="slideshow">
            <li class="content"><img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/slideshow1.jpg"></li>
            <li class="content"><img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/slideshow2.jpg"></li>
            <li class="content"><img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/slideshow3.jpg"></li>
            <li class="content"><img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/slideshow4.jpg"></li>
            <li class="content"><img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/slideshow5.jpg"></li>
        </ul>
    </div>
   
</div>
<div class="top-information">
    <div class="informations">
        <h1>各種ご案内</h1>
        <div class="menus">
            <div class="menu">
                <a href="/co"><div class="menu-icon">
                    <img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/S_spring.jpg">
                    <p>カウンセリング<br>稽古</p>
                </div></a>
            </div>
            <div class="menu">
                <a href="/class"><div class="menu-icon">
                    <img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/S_summer.jpg">
                    <p>クラス稽古<br>
                    ・<br>
                    個別稽古</p>
                </div></a>
            </div>
            <div class="menu">
                <a href="/experience"><div class="menu-icon">
                    <img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/S_autumn.jpg">
                    <p>体験教室</p>
                </div></a>
            </div>
            <div class="menu">
                <a href="/acsess"><div class="menu-icon">
                    <img class="content-img" src="https://ohaapp.s3.ap-southeast-2.amazonaws.com/S_winter.jpg">
                    <p>アクセス</p>
                </div></a>
            </div>
        </div>
    </div>
</div>
<div class="contacts">
    <h1>
        <%# <a href="/contacts/new">お問い合わせはこちらから</a> %>
        <%= link_to "お問い合わせはこちらから", new_contact_path  %>
    </h1>
</div>

<%# <label for="name">お名前（必須）</label><br>
                <input id="name" type="text" name="yourname"><br>
            <label for="num">お電話番号</label><br>
                <input id="num" type="number" name="phon-number"><br>
            <label for="comment">お問い合わせ内容（必須）</label><br>
                <textarea id="comment" name="comment" placeholder="自由にコメントする"></textarea><br>
            <p>※必須項目は必ずご入力くださいませ</p><br>
            <div>
                <input class="contact-submit" type="submit" value="送信"> %>