<div class="top-warpper">
    <div class="container">
        
        <div class="text">
            <h1>茶道教室<br>
                　　　　×<br>
                　　　　カウンセリング</h1>
        </div>
        <img class="contnt-img" src="top.jpg">
    </div>
</div>
<div class="messege">
    <h1><span>お稽古の様子</span></h1>
    <p>
    当教室は、小学生からご高齢の方までいろんな方がお稽古にいらしています。<br>
    堅苦しくなく、和やかにお稽古をしています。<br>
    皆さんがお稽古を始められたきっかけは、何か新しいことをしてみたい・・・<br>
    和に触れてみたい・・・いつもと違う時間を過ごしてみたい・・・抹茶が好き・・と<br>
    様々ですが、それでもみんなが穏やかで一つになれる教室です。<br>
    茶道の手前と作法がそんな人柄をつくってくれます。<br>
    どうぞ四畳半の空間で萬古清風な空気を体験してみてください。
    </p>
    <div class="messege-warpper">
        <ul class="slideshow">
            <li class="content"><img class="content-img" src="slideshow1.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow2.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow3.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow4.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow5.jpg"></li>
        </ul>
        <ul class="slideshow">
            <li class="content"><img class="content-img" src="slideshow1.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow2.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow3.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow4.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow5.jpg"></li>
        </ul>
        <ul class="slideshow">
            <li class="content"><img class="content-img" src="slideshow1.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow2.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow3.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow4.jpg"></li>
            <li class="content"><img class="content-img" src="slideshow5.jpg"></li>
        </ul>
    </div>
</div>
<div class="top-menu">
    <div class="top-warpper">
        <div class="heading">
            <h1><span>各種ご案内</span></h1>
        </div>
        <div class="menus">
            <div class="menu">
                <a href="/co"><div class="menu-icon">
                    <img class="content-img" src="S_spring.jpg">
                    <p>お稽古<br>
                    ×<br>
                    カウンセリング</p>
                </div></a>
            </div>
            <div class="menu">
                <a href="/class"><div class="menu-icon">
                    <img class="content-img" src="S_summer.jpg">
                    <p>クラス</p>
                </div></a>
            </div>
            <div class="menu">
                <a href="/experience"><div class="menu-icon">
                    <img class="content-img" src="S_autumn.jpg">
                    <p>体験教室</p>
                </div></a>
            </div>
            <div class="menu">
                <a href="/acsess"><div class="menu-icon">
                    <img class="content-img" src="S_winter.jpg">
                    <p>アクセス</p>
                </div></a>
            </div>
        </div>
    </div>
</div>
<div class="query-warpper">
    <div class="query">
        <h1><span>お問い合わせ</span></h1>
    </div>
    <div class="query-form">

    </div>
</div>