<div class="top-warpper">
    <div class="background">
        <div class="background-color">
            <div class="container">
                <div class="text">
                    <h1>萬古清風な空気を体験したことはありますか？</h1>
                    <h1>日々の喧騒から離れ ゆっくりと流れる時間を過ごしましょう</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="top-menu">
    <div class="container">
        <div class="heading">
            <h2>各種ご案内</h2>
        </div>
        <div class="menus">
            <div class="menu">
                <a href="/appearance"><div class="menu-icon">
                    <img src="S_spring.jpg">
                    <p>お稽古の様子</p>
                </div></a>
            </div>
            <div class="menu">
                <a href="/class"><div class="menu-icon">
                    <img src="S_summer.jpg">
                    <p>クラス</p>
                </div></a>
            </div>
            <div class="menu">
                <a href="/experience"><div class="menu-icon">
                    <img src="S_autumn.jpg">
                    <p>体験教室</p>
                </div></a>
            </div>
            <div class="menu">
                <a href="/acsess"><div class="menu-icon">
                    <img src="S_winter.jpg">
                    <p>アクセス</p>
                </div></a>
            </div>
        </div>
    </div>
</div>