<div class="contact-warpper">
    <div class="contact">
        <h1>送信完了</h1>
    </div>

    <div>
        <p>
        お問い合わせありがとうございます。<br>
        折り返しご連絡差し上げますのでしばらくお待ちください。
        </p>
    </div>
</div>