<div class="text-center height_auto mg_10px mb_5">
    <div class="contact mt_25vh_sp">
        <h3>送信完了</h3>
    </div>

    <div class="text_center pd_y_10 vh_25_sp vh_35">
        <p class="line_height_sm line_height_sm_sp">
            お問い合わせありがとうございます。<br>
            後ほど折り返しご連絡差し上げます。<br>
            いましばらくお待ちください。
        </p>
    </div>

    <div class="flex flex_center">
        <div class="complete_btn mg_20px">
            <a href="/">ホームに戻る</a>
        </div>
    </div>
</div>

<script>
    $(function() {
        $('header').show();
    });
</script>