<div class="contact-warpper">
    <div class="contact">
        <h1>送信完了</h1>
    </div>

    <div>
        <p>
        お問い合わせありがとうございます。<br>
        後ほど折り返しご連絡差し上げます。<br>
        いましばらくお待ちください。
        </p>
    </div>
    <div class="back-top">
        <a href="/">ホームに戻る</a>
    </div>
</div>