.mg_access {
  margin: 100px 50px;
}
@media (max-width:670px ){
  .mg_access {
    margin: 30px 0px;
  }
}

.main_width_access {
  width: 100vw;
  width: 100dvw;
}
.width_access {
  width: 50%;
}
@media (max-width:670px ){
  .width_access {
    width: 100%;
  }
}