/* require_tree .
= require_self */

/* アクセスページcss */
.acsess-warpper {
    margin-top: 150px;
    width: 100%;
}
.acsess {
    line-height :2em;
    
}
@media (max-width:670px ){
    .acsess-map {
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}