@import "bootstrap-sprockets";
@import "bootstrap";

*{
    box-sizing: border-box;
}

body {
    font-family: 'Klee One', cursive;
    font-family: 'Noto Serif JP', serif;
    margin: 0;
}
table {
    font-family: 'Klee One', cursive;
    font-family: 'Noto Serif JP', serif;
}

/* ====================================================================== */
/* 共通css */
a {
    text-decoration: none;
    display: inline-block;
}

img {
    object-fit: cover;
}

.img_center {
    object-position: top 50% left 50%;
}

.img_square_4_5 {
    width: 50vw;
    height: 40vw;
}

/* 高さ */
.vh_100 {
    height: 100vh;
}
.vh_15 {
    height: calc(100vh * 0.2);
}
.vh_35 {
    height: calc(100vh * 0.38);
}
.vh_55 {
    height: calc(100vh * 0.6);
}
.height_auto {
    height: auto;
}

/* 横幅 */
.w_100 {
    width: 100%;
}
.w_80 {
    width: 80%;
}
.vw_100 {
    width: 100vw;
}
.vw_30 {
    width: 30%;
}
.vw_50 {
    width: 50vw;
}
@media (max-width:670px ){
    .vw_50 {
        width: 80vw;
    }
    }

/* display */
.inline_block {
    display: inline-block;
}

.display_block {
    display: block;
}

.display_none {
    display: none;
}

/* 間隔 */
/* CSS class名の定義：　mt=margin-top  mb=margin-bottom  my=margin-top&bottom(y軸の意味)　横も同様 */

/* padding */
.pd_1 {
    padding: 10px;
}
.pd_5 {
    padding: 50px;
}
.pd_x_7 {
    padding: 0 70px;
}
.pd_x_5 {
    padding: 0 50px;
}
.pd_l_10 {
    padding-left: 100px;
}
.pd_l_5 {
    padding-left: 50px;
}
.pd_t_5 {
    padding-top: 50px;
}
.pd_btn {
    padding: 10px 20px;
}

/* margin */
.mg_0 {
    margin: 0 auto;
}
.mg_1{
    margin: 4vw;
}
.mg_2{
    margin: 5vw;
}
.mg_auto {
    margin: auto;
}
.mg_10px {
    margin: 10px;
}
.mg_20px {
    margin: 20px;
}

/* margin y軸*/
.mt_3 {
    margin-top: 30px;
}
.mt_5 {
    margin-top: 50px;
}
.mt_10 {
    margin-top: 100px;
}
.mt_15 {
    margin-top: 150px;
}
.mt_20 {
    margin-top: 200px;
}
.mb_3 {
    margin-bottom: 30px;
}
.mb_5 {
    margin-bottom: 50px;
}
.mb_10 {
    margin-bottom: 100px;
}
.my_1 {
    margin: 10px 0;
}
.my_2 {
    margin: 20px 0;
}
.my_10 {
    margin: 100px 0;
}

/* margin x軸*/

.ml_2 {
    margin-left: 20px;
}
.ml_10 {
    margin-left: 100px;
}

.mr_2 {
    margin-right: 20px;
}

.mx_10 {
    margin: 0 100px;
}

/* 文字 */
.font_sm {
    font-size: 14px;
}
.font_md {
    font-size: 16px;
}
.font_lg {
    font-size: 18px;
}
.letter_spacing_sm {
    letter-spacing: 5px;
}
.letter_spacing_md {
    letter-spacing: 10px;
}
.line_height_sm {
    line-height: 2em;
}
.line_height_md {
    line-height: 3em;
}
.line_height_lg {
    line-height: 4em;
}
.rl {
    writing-mode: vertical-rl;
}
.text_center {
    text-align: center;
}
.text_left {
    text-align: left;
}
.text_right {
    text-align: right;
}
.xy_center {
    vertical-align: middle;
}

/* リンク */
.link {
    color: rgb(0, 0, 0);
}
.link:hover {
    color: rgba(0, 0, 0, 0.5);
}

// hover
.hov_big:hover {
    padding: 0 30px;
    transition: 1s;
}

/* 画像配置 */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.absolute_top_2 {
    top: 20px;
}
.absolute_left_8 {
    left: 80px;
}
.absolute_right_8 {
    right: 80px;
}
.absolute_bottom_0 {
    bottom: 0;
}
.cover {
    object-fit: cover;
}
/* 画像移動 */
.top_0 {
    top: 0;
}
.top_2 {
    top: 20vh;
}
.left_0 {
    left: 0;
}
.bottom_0 {
    bottom: 0;
}
.bottom_10 {
    bottom: 100px;
}
.right_0 {
    right: 0;
}
.right_10 {
    right: 100px;
}
.z_0 {
    z-index: 0;
}
.transform_1{
    transform: translate(0, 15%);
}


/* flex */
.flex {
    display: flex;
}
.between {
    justify-content: space-between;
}
.around {
    justify-content: space-around;
}
.flex_center {
    justify-content: center;
    align-items: center;
}
.flex_center_up {
    justify-content: center;
}
.flex_grow {
    flex-grow: 1;
}
.flex_column {
    flex-direction: column;
}

// 背景色
.bgc_gray {
    background-color: rgba(0, 0, 0, 0.1);
}
.color_black {
    color: black !important;
}
.bg_img {
    width: 50vw;
    object-fit: cover;
    z-index: -5;
}

/* ====================================================================== */

/*ヘッダー*/
header {
    display: none;
    position: sticky;
    top: 0;
    height: 110px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    padding: 30px;
    z-index: 100;
}
.header_fixed {
    position: fixed !important;
}

/* フッター */
footer {
    width: 100vw;
    height: 30vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
}

// テーブル　表の形式統一

.table {
    width: 50vh;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}
.table th{
    vertical-align: bottom !important;
    text-align: center;
    padding: 10px;
    border-bottom: solid 2px black;
    color: black;
}
.table td{
    vertical-align: bottom !important;
    padding: 10px;
    border-bottom: solid 1px black;
}
.table tr{
    height: 50px;
}
.table_color td{
    border-bottom: solid 1px rgba(0, 0, 0, 0.5) !important;
}

/*スマホヘッダー*/

// .navbar_collapse::after {
//     margin: 20px;
//     background-color: rgba(0, 0, 0, 0.5);
// }

@media (max-width:670px ) {}


/* ====================================================================== */
/* スマホだけ改行 */
.sp {
    display: none;
}
@media (max-width:670px ){
.sp {
    display: inline;
}
}
// スマホだけ表示

.sp_display {
    display: none;
}

@media (max-width:670px ){
.sp_display {
    display: inline;
}
}

/* ====================================================================== */
/* PCだけ改行 */
.pc {
    display: inline;
}
@media (max-width:670px ){
.pc {
    display: none;
}
}

// pcだけ表示

.pc_display {
    display: inline;
}
@media (max-width:670px ){
.pc_display {
    display: none;
}
}

/* ====================================================================== */

