body {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    font-family: serif;
    text-align: center;
}

/*ヘッダーcss*/
.header-left a{
    padding-left: 10px;
    padding-top: 15px;
    color: #6a9a8c;
    font-size: 50px;
    margin-top: 0;
    text-decoration: none;
    Letter-spacing:0.5em;
    transition: color 1s;
}
.header-left a:hover{
    color: #a6c4bb;
}
.header-right {
    padding-top: 90px;
    float: right;
    transition: color 1s;
    color: #6a9a8c;    
}
.header-right a{
    padding-top: 0px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 0px;
    border-radius: 4px;
    margin-left: 10px;
}
.header-right a:hover{
    color: #a6c4bb;
}
header {
    height: 130px;
    background-color: #dfdfcd;  
}
.headeres {
    text-align: left;
    
}

/*トップmenu　css*/

.text {
    text-align: left;
    padding-left: 100px;
    line-height :4em;   
    writing-mode: vertical-rl;
    Letter-spacing:1em;
}
.container {
    display: flex;
}
.container img{
    width: 50%;
    padding-left: 50px;
    margin-left: 100px;
    height: 600px;
    object-fit: cover;
} 
.container h1{
    color: #6a9a8c;
    width: 50%;
    padding-left: 150px;
    padding-top: 30px;
}
.top-warpper  {
    height: 600px;
    margin-top: 40px;
    margin-bottom: 100px;
}

/* スライドショー画像 */
.messege span{
    color: #6a9a8c;
    background-color: #dfdfcd;
    border-radius: 8px;
    padding: 5px 200px;
}
.messege p{
    margin-top: 80px;
    font-size: 25px;
    line-height: 50px;
}
.messege-warpper{
    display: flex;
    align-items: center;
    height: 450px;
    overflow: hidden;
}
.content{
    width: 500px;
    height: 300px;
    object-fit: cover;
}
.slidshow {
    display: flex;
    animation: loop-slide 20s infinite linear 1s both;
}
@keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

/*各種ご案内css*/
.menu {
    float: left;
    height: 500px;
    width: 25%;
    transition: all 0.5s;
}
.menus {
    margin-top: 100px;
}
.menu-icon img{
    height: 70%;
    width: 70%;
    opacity: 0.65;
}
.menu:hover {
    opacity: 0.5;
}
.menu a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.top-menu {
    margin-top: 100px;
    height: 800px;
}
.heading h1{
    color: #6a9a8c;
    
}
.heading span{
    background-color: #dfdfcd;
    border-radius: 8px;
    padding: 5px 200px;
}

/*フッターcss*/

footer {
    height: 80px;
    background-color: #dfdfcd;
    color: #6a9a8c;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

/* アクセスページcss */

.acsess {
    line-height :2em;
    text-align: left;
    padding-left: 400px;
}
/* クラスページ */
.class-main {
    height: 1000px;
    width: 100%;
    transition: all 0.5s;
}  
.class-icon img{
    height: 70%;
    width: 70%;
    opacity: 0.65;
    border-radius: 50%;
}
.class-icon:hover {
    opacity: 0.5;
}
.class-icon a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.class-icon p{
    font-size: 25px;
}
.main-height {
    height: 1000px;
}
.classes {
    display: flex;
}
.class-menu {
    width: 33%;
}
.class-menu p{
    padding-left: 20px;
    padding-right: 20px;
}