*{
    box-sizing: border-box;
  }

body {
    font-family: serif;
    text-align: center;
    margin: 0px;
}


/* ====================================================================== */

/*ヘッダー*/
header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    background-color: rgba(223, 223, 205,0.8);
    height: 100px;
}
.headeres {
    text-align: left;
}

.header-left a{
    margin-left: 30px;
    margin-top: 15px;
    color: #6a9a8c;
    font-size: 40px;
    text-decoration: none;
    Letter-spacing:0.2em;
    transition: color 0.5s;
}
.header-left a:hover{
    color: #a6c4bb;
}
.drawer-menu a{
    font-size: 20px;
}
 /*スマホヘッダー*/

@media (max-width:670px ) {
  
header {
    height: 60px;
}
.header-left a{
    font-size: 16px;
    margin-left: 10px;
}
.drawer-menu a{
    font-size: 16px;
}
  }

/* フッター */

footer {
    height: 100px;
    background-color: #dfdfcd;
}
footer p{
    color: #6a9a8c;
    text-align: left;
    padding: 10px 0px 0px 20px;
    font-size: 20px;
}

/* ====================================================================== */

/*トップ 茶道×カウンセリング*/
.top-warpper  {
    height: 750px;
    padding-top: 50px;
    margin-bottom: 110px;
    background: linear-gradient(to bottom,#dfdfcd  0%,  #ffffff 100%); 
}
.text {
    margin-left: 20px;
    line-height :3.2em; 
    Letter-spacing:0.5em;
    writing-mode: vertical-rl;
    Text-shadow: 3px 3px 5px #6a9a8c;
    font-size: 27px;
}
.container {
    display: flex;
    padding-top: 100px;
}
.container img{
    width: 50%;
    margin-left: 150px;
    height: 600px;
    object-fit: cover;
} 
.container h1{
    color: #6a9a8c;
    width: 50%;
    padding-left: 150px;
    padding-top: 30px;
}
/* スマホ */
@media (max-width:670px ) {
    .top-warpper  {
        height: 400px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
    }
    .text {
        margin-left: 0px;
        line-height :2em; 
        Letter-spacing:0.5em;
        writing-mode: horizontal-tb;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .container h1{
        width: 100%;
        padding-left: 0px;
        padding-top: 0px;
    }
    .container img{
        display: block;
        width: 100%;
        margin-left: 0px;
        height: 300px;
    } 
    .container {
        flex-direction:column;
        padding-top: 60px;
    }
      }


/* ――――――――――――――――――――――――――――――――― */

/* スライドショー画像 お稽古の様子 */
.messege h1{
    color: #6a9a8c;
    border-bottom: 2px solid #6a9a8c;
    margin: 100px;
}
.messege p{
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 25px;
    line-height: 50px;
}
.messege-warpper{
    display: flex;
    align-items: center;
    height: 450px;
    overflow: hidden;
}
.content-img {
    margin-left: 15px;
    width: 500px;
    height: 500px;
}
.slideshow {
    padding: 0px;
    display: flex;
    animation: loop-slide 20s infinite linear 1s both;
}
@keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

@media (max-width:670px ) {
    .messege h1{
        margin: 0px 60px 0px 60px;
        font-size: 22px;
    }
    .messege p{
        margin: 40px 10px 40px 10px;
        font-size: 16px;
        line-height: 1.5em;
    }
    .messege-warpper{
        height: 210px;
    }
    .content-img {
        margin-left: 5px;
        width: 200px;
        height: 200px;
    }
}


/* ――――――――――――――――――――――――――――――――― */
/*各種ご案内*/

.top-information {
    margin: 100px;
    height: 600px;
}
.informations h1{
    color: #6a9a8c;
    border-bottom: 2px solid #dee7ec;
}
.menu {
    float: left;
    height: 500px;
    width: 25%;
    transition: all 0.5s;
}
.menus {
    margin-top: 100px;
}
.menu-icon img{
    height: 70%;
    width: 70%;
    opacity: 0.65;
}
.menu:hover {
    opacity: 0.5;
}
.menu a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}

@media (max-width:670px ){
    .top-information {
        margin: 10px;
        height: 550px;
    }
    .menu {
        height: 250px;
        width: 50%;
    }
    .menu a{
        font-size: 15px;
        text-decoration: none;
    }
    .menus {
        margin-top: 50px;
    }
}


/* ――――――――――――――――――――――――――――――――― */
/* お問い合わせ */
.contact-warpper {
    height: 800px;
    text-align: left;
    margin: 100px;
}
.contact {
    color: #6a9a8c;
    border-bottom: 2px solid #dee7ec;
}
.contact-form p{
    font-size: 18px;
    color: black;
    line-height: 10px;
}
.contact-form input{
    width: 35%;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #dee7ec;
}
.contact-form textarea{
    width: 50%;
    font-size: 18px;
    padding: 10px;
    height: 200px;
    border: 1px solid #dee7ec;
    font-family: serif;
}
.contact-submit {
    background-color: #dee7ec;
    color: #889eab;
}
.contact-submit:hover {
    background-color: #b4cbd7;
    color: #718997;
}
@media (max-width:670px ){
    .contact-warpper {
        height: 550px;
        text-align: center;
        margin: 10px;
    }
    .contact h1{
        margin: 0px;
    }
    .contact{
        margin-bottom: 20px;
    }
    .contact-form input{
        width: 70%;
        font-size: 16px;
        padding: 3px;
    }
    .contact-form textarea{
        width: 70%;
        font-size: 16px;
        padding: 3px;
        height: 100px;
    }
}

/* ====================================================================== */

/* アクセスページcss */
.acsess-warpper {
    margin-top: 150px;
    width: 100%;
}
.acsess {
    line-height :2em;
    
}
@media (max-width:670px ){
    .acsess-map {
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

/* ====================================================================== */

/* クラスページ */

.main-height {
    height: 1000px;
    margin-top: 150px;
}
.main-height h1{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
    margin: 20px 100px 20px 100px;
}
.class-main {
    height: 1000px;
    width: 100%;
    transition: all 0.5s;
}
.class-menu {
    width: 33%;
} 
.class-menu a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.class-icon img{
    height: 70%;
    width: 70%;
    opacity: 0.65;
    border-radius: 50%;
}
.class-icon:hover {
    opacity: 0.5;
}

.class-icon p{
    font-size: 25px;
}

.classes {
    display: flex;
    margin-top: 50px;
}

.class-menu p{
    padding-left: 20px;
    padding-right: 20px;
    
}
@media (max-width:670px ){
    .main-height{
        height: 1700px;
    }
    .class-menu {
        width: 100%;
    } 
    .class-menu p{
        padding-bottom: 30px;
    }
    .class-icon p{
        padding-bottom: 0px;
    }
    .classes {
        flex-direction: column;
    }
}

/* ====================================================================== */
/* 子どもクラスページ */

.children-class {
    height: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}
.children-class h1{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
    margin: 20px 100px 20px 100px;
}
.children table{
    width: 50%;
}
.children a{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
}
/* ====================================================================== */
/* 大人クラスページ */
.adult-class {
    height: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}
.adult-class h1{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
    margin: 20px 100px 20px 100px;
}
.adult table{
    width: 50%;
}
.adult a{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
}
/* ====================================================================== */
/* 個別稽古ページ */
.personal-class {
    height: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}
.personal-class h1{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
    margin: 20px 100px 20px 100px;
}
.personal table{
    width: 50%;
}
.personal a{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
}

/* ====================================================================== */
/* テーブル共通CSS */
.table {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ====================================================================== */

/* カウンセリング　ページ */
.co {
    width: 100%;
    height: 1000px;
    margin: 200px 0px 100px 0px;
}
.co span{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
}
.co p{
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    line-height: 2em;
}
@media (max-width:670px ){
    .co {
        height: 1000px;
        margin: 100px 0px 100px 0px;
    }
    .co-img img{
        width: 100%;
    } 
    .co span{
        font-size: 22px;
        color: #6a9a8c;
        Text-shadow: 3px 3px 5px #dfdfcd;
    }
    .co p{
        font-size: 16px;
        margin: 80px 10px 80px 10px;
        line-height: 1.5em;
    }
}


/* ====================================================================== */
