/* require_tree .
= require_self */

/* クラスページ */

.main-height {
    /* height: 1000px; */
    margin-top: 150px;
}
.main-height h1{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
    margin: 20px 100px 20px 100px;
}
.class-main {
    /* height: 1000px; */
    width: 100%;
    transition: all 0.5s;
}
.class-menu {
    width: 33%;
}
.class-menu a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.class-icon-img{
    height: 70%;
    width: 70%;
    opacity: 0.65;
    border-radius: 50%;
}
.class-icon:hover {
    opacity: 0.5;
}

.class-icon p{
    font-size: 25px;
}

.classes {
    display: flex;
    margin-top: 50px;
}

.class-menu p{
    padding-left: 20px;
    padding-right: 20px;
    
}
@media (max-width:670px ){
    /* .main-height{
        height: 2200px;
    } */
    .class-menu {
        width: 100%;
    }
    .class-menu p{
        padding-bottom: 30px;
    }
    .class-icon p{
        padding-bottom: 0px;
    }
    .classes {
        flex-direction: column;
    }
}

/* ====================================================================== */
/* 子どもクラスページ */
.children-class {
    width: 100%;
    margin-top: 120px;
    /* height: 3500px; */
}
.children-class h1{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
    margin: 20px 100px 20px 100px;

}
/*  画像下の文章  */
.children-point {
    position: relative;
    width: 100%;
    height: 500px;
}
.tanpopo-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 50%;
    height: 500px;
    object-fit: cover;
}
.grade-children {
    position: absolute;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
    top: 0px;
    left: 0;
    width: 50%;
    height: 500px;
}
.text-children {
    position: absolute;
    top: 100px;
    left: 55%;
    line-height: 5em;
    height: 500px;
    z-index: 10;
}
.text-children p{
    font-size: 40px !important;
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #6a9a8c;
    margin: 0;
    padding: 0 40px;
}
/* 画像下の文章 */
.submain-children {
    font-size: 30px;
    text-align: left;
    padding-left: 10%;
    padding-bottom: 50px;
}
/* 詳細 */
.shousai {
    height: 700px;
}
.shousai h1{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
    margin: 20px 100px 20px 100px;
}
.shousai p{
    text-align: left;
    font-size: 30px;
    padding-left: 20%;
    padding-bottom: 50px;
}
.time {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time h1{
    color: #6a9a8c;
    text-shadow: 3px 3px 5px #dfdfcd;
    width: 40%;
    margin: 20px 0;
    border-bottom: 2px solid #6a9a8c;
    text-align: center;
}
.time table{
    width: 50%;
    font-size: 30px;
}
/* instagram */
.children-insta {
    margin-top: 50px;
    width: 100%;
    display: flex;
    background: linear-gradient(to bottom, rgba(223, 223, 205, 1), rgba(255, 255, 255, 0.1));
}
.insta {
    width: 35%;
    height: 1000px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}
.insta-msg {
    font-size: 30px;
}
.link p{
    font-size: 20px;
    
}
.link a{
    color: #6a9a8c;
}

@media (max-width:670px ){
    .children-class {
        margin-top: 100px;
        /* height: 4200px; */
    }
    .children-class h1{
        color: #6a9a8c;
        Text-shadow: 3px 3px 5px #dfdfcd;
        border-bottom: 2px solid #6a9a8c;
        width: 70%;
        margin: auto;
        margin-bottom: 20px;
    }
    /* 画像 */
    .tanpopo-img {
        left: 0;
        width: 100%;
    }
    .grade-children {
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
        left: 0;
        width: 101%;
    }
    .text-children {
        top: 0;
        right: 0;
        line-height: 5em;
        writing-mode: vertical-rl
    }
    /* 画像下の文章 */
    .submain-children {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /* 詳細 */
    .shousai {
        height: 500px;
    }
    .shousai p{
        font-size: 20px;
        padding-left: 20px;
    }
    .time table{
        width: 80%;
    }
    .time p{
        font-size: 16px;
    }
    .time h1{
        width: 80%;
    }
    /* インスタ*/
    .children-insta {
        margin-top: 50px;
        width: 100%;
        display: block;
        background: none;
    }
    .insta {
        width: 35%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
    }
    .insta-msg {
        font-size: 18px;
    }
    .link p{
        font-size: 20px;
    }
}

/* ====================================================================== */
/* 大人クラスページ */
.adult-class {
    height: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}
.adult-class h1{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
    margin: 20px 100px 20px 100px;
}
/* 画像 */
.submain {
    height: 800px;
    position: relative;
}
.adult-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.adult-grade {
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15px;
}
.adult-point {
    position: absolute;
    top: 0;
    left: 45%;
    z-index: 20px;
    width: 55%;
}


.adult-point p{
    font-size: 30px;
    color: black;
    text-shadow: 3px 3px 5px #dfdfcd;
    text-align: left;
    line-height: 3em;
}
/* 詳細・金額 */
.font-sp {
    font-size: 25px;
}
.adult a{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
    font-size: 30px;
}


/* media */
@media (max-width:670px ){
    .submain {
        height: 400px;
    }
    .adult-img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .adult-grade {
        background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2));
        width: 100%;
        height: 401px;
    }
    .adult-point {
        top: 300px;
        right: 10px;
        writing-mode: vertical-rl
    }
    .adult-point p{
        font-size: 16px;
        text-align: left;
        line-height: 3em;
    }   
    /* ------------------------ */
    .adult-class {
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    }
    /* 詳細・金額 */
    .adult a{
        color: #6a9a8c;
        Text-shadow: 3px 3px 5px #dfdfcd;
        border-bottom: 2px solid #6a9a8c;
        font-size: 20px;
    }
    .font-sp {
        font-size: 16px;
    }


}
/* ====================================================================== */
/* 個別稽古ページ */

.co {
    width: 100%;
    height: 2000px;
    margin: 200px 0px 100px 0px;
}
.co span{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
}
.co p{
    font-size: 25px;
    margin: 30px;
    line-height: 2em;
}
.co-img {
    width: 50%;
}
.main a{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    font-size: 25px;
}


@media (max-width:670px ){
    .co {
        height: 1400px;
        margin: 100px 0px 100px 0px;
    }
    .co-img {
        width: 100%;
    } 
    .co span{
        font-size: 22px;
        color: #6a9a8c;
        Text-shadow: 3px 3px 5px #dfdfcd;
    }
    .co p{
        font-size: 18px;
        margin: 10px;
        line-height: 1.5em;
    }
    .main a{
        color: #6a9a8c;
        Text-shadow: 3px 3px 5px #dfdfcd;
        font-size: 18px;
    }
    
}

/* ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿CO：personal-classページ入れ替えた＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿ */


/* .personal-class {
    height: auto;
    margin-bottom: 50px;
}
.top-main {
    height: 200px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.top-main h1{
    color: #6a9a8c;
    text-shadow: 3px 3px 5px #dfdfcd;
    width: 40%;
    margin: 20px 0;
    border-bottom: 2px solid #6a9a8c;
}
.personal {
    margin-bottom: 60px;
}
.submain {
    height: 800px;
    position: relative;
}
.personal-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
}
.grade {
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15px;
}
.personal-point {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 20px;
    width: 50%;
}


.personal-point p{
    font-size: 30px;
    color: #6a9a8c;
    text-shadow: 3px 3px 5px #dfdfcd;
    text-align: left;
    line-height: 4em;
}
.personal-point span{
    padding-left: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h1{
    color: #6a9a8c;
    text-shadow: 3px 3px 5px #dfdfcd;
    width: 40%;
    margin: 20px 0;
    border-bottom: 2px solid #6a9a8c;
}

.personal-detail {
    font-size: 30px;
    line-height: 2em;
    
}
.value {
    font-size: 30px;
}

.personal table{
    width: 50%;
}
table tr{
    font-size: 30px;
    line-height: 2em;
}
.personal a{
    font-size: 30px;
    color: #6a9a8c;
    text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
}
@media (max-width:670px ){
    .submain {
        height: 700px;
    }
    .personal-class h1{
        width: 80%;
    }
    .personal-img {
        width: 100%;
        left: 0;
    }
    
    .personal-point {
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 20px;
        display: flex;
        justify-content: start;
    }
    .grade {
        left: 0;
        width: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
    .personal-point p{
        padding-left: 0px;
        font-size: 25px;
        color: black;
        text-shadow: 3px 3px 5px #0000003b;
        line-height: 2em;
        writing-mode: vertical-rl;
    }
    .personal-point span{
        padding-left: 50px;
    }
    .personal-detail {
        font-size: 16px !important;
        padding: 10px 20px 10px 20px;
        text-align: left;
    }
    .value p{
        font-size: 20px;
    }

    table tr{
        font-size: 20px;
        line-height: 2em;
    }
    .personal a{
        font-size: 20px;
        color: #6a9a8c;
        text-shadow: 3px 3px 5px #dfdfcd;
        border-bottom: 2px solid #6a9a8c;
    }
    .table{
        width: 80%;
    } 
    table{
        width: 80%;
    }    
    .personal-class h1{
        margin: 20px;
    }
} */