/* require_tree .
= require_self */

/* クラスページ */

.main-height {
    height: 1000px;
    margin-top: 150px;
}
.main-height h1{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
    margin: 20px 100px 20px 100px;
}
.class-main {
    height: 1000px;
    width: 100%;
    transition: all 0.5s;
}
.class-menu {
    width: 33%;
} 
.class-menu a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.class-icon img{
    height: 70%;
    width: 70%;
    opacity: 0.65;
    border-radius: 50%;
}
.class-icon:hover {
    opacity: 0.5;
}

.class-icon p{
    font-size: 25px;
}

.classes {
    display: flex;
    margin-top: 50px;
}

.class-menu p{
    padding-left: 20px;
    padding-right: 20px;
    
}
@media (max-width:670px ){
    .main-height{
        height: 1700px;
    }
    .class-menu {
        width: 100%;
    } 
    .class-menu p{
        padding-bottom: 30px;
    }
    .class-icon p{
        padding-bottom: 0px;
    }
    .classes {
        flex-direction: column;
    }
}

/* ====================================================================== */
/* 子どもクラスページ */

.children-class {
    height: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}
.children-point1 {
    display: flex;
    margin-top: 50px;
}
.children-point1 img{
    width: 30%;
    margin-left: 5%;
    border-radius: 20%;
}
.children-point1 p{
    padding-top: 100px;
    padding-left: 20px;
    font-size: 40px !important;
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #6a9a8c;
}
.children-point2 {
    margin-top: -40px;
    display: flex;
    text-align: right;
}
.children-point2 img{
    width: 30%;
    margin-left: 10%;
    border-radius: 20%;
    border: 1px solid #000000;
}
.children-point2 p{
    padding-top: 150px;
    margin-left: 5%;
    font-size: 40px !important;
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #6a9a8c;
}

.children-class h1{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
    margin: 20px 100px 20px 100px;

}
.children p{
    font-size: 30px;
    text-align: left;
    padding-left: 20%;
    padding-bottom: 50px;
}
.children table{
    width: 50%;
    font-size: 30px;
}
.children a{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
}
.children-insta {
    margin-top: 50px;
    margin-left: 15%;
    width: 35%;
    display: flex;
}
.insta {
    margin-left: 5%;
}
@media (max-width:670px ){
    .children table{
        width: 80%;
    }    
    .children-class h1{
        margin: 20px;
    }
}
/* 大人クラスページ */
.adult-class {
    height: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}
.adult-class h1{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
    margin: 20px 100px 20px 100px;
}
.adult table{
    width: 50%;
}
.adult a{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
}
@media (max-width:670px ){
    .adult table{
        width: 80%;
    }    
    .adult-class h1{
        margin: 20px;
    }
}
/* ====================================================================== */
/* 個別稽古ページ */

.personal-class {
    height: auto;
    margin-bottom: 50px;
}
.top-main {
    height: 200px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.top-main h1{
    color: #6a9a8c;
    text-shadow: 3px 3px 5px #dfdfcd;
    width: 40%;
    margin: 20px 0;
    border-bottom: 2px solid #6a9a8c;
}
.personal {
    margin-bottom: 60px;
}
.submain {
    height: 1000px;
}
.personal-img {
    position: relative;
    width: 50%;
    height: 100%;
    background-image: image-url('S_personal.jpg');
    background-size: cover;
}
.grade {
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15px;
}
.personal-point {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20px;
    width: 100%;
}


.personal-point p{
    font-size: 30px;
    color: #6a9a8c;
    text-shadow: 3px 3px 5px #dfdfcd;
    text-align: left;
    line-height: 5em;
}
.personal-point span{
    padding-left: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h1{
    color: #6a9a8c;
    text-shadow: 3px 3px 5px #dfdfcd;
    width: 40%;
    margin: 20px 0;
    border-bottom: 2px solid #6a9a8c;
}

.detail {
    font-size: 30px;
    line-height: 2em;
}

.personal table{
    width: 50%;
}
table tr{
    font-size: 30px;
    line-height: 2em;
}
.personal a{
    font-size: 30px;
    color: #6a9a8c;
    text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
}
@media (max-width:670px ){
    .submain {
        height: 700px;
    }
    .personal-class h1{
        width: 80%;
    }
    .personal-img {
        width: 100%;
    }
    
    .personal-point {
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 20px;
        display: flex;
        justify-content: start;
    }
    .grade {
        background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
    .personal-point p{
        padding-left: 0px;
        font-size: 25px;
        color: black;
        text-shadow: 3px 3px 5px #0000003b;
        /* text-align: ; */
        line-height: 2.5em;
        writing-mode: vertical-rl;
    }
    .personal-point span{
        padding-left: 50px;
    }
    .detail {
        font-size: 20px;
        padding: 10px;
    }

    table tr{
        font-size: 20px;
        line-height: 2em;
    }
    .personal a{
        font-size: 20px;
        color: #6a9a8c;
        text-shadow: 3px 3px 5px #dfdfcd;
        border-bottom: 2px solid #6a9a8c;
    }
    .personal table{
        width: 80%;
    }    
    .personal-class h1{
        margin: 20px;
    }
}