/* require_tree .
= require_self */

/* カウンセリング　ページ */
.co {
    width: 100%;
    height: 1500px;
    margin: 200px 0px 100px 0px;
}
.co span{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
}
.co p{
    font-size: 25px;
    margin: 100px;
    line-height: 2em;
    text-align: left;
}
.co img{
    width: 50%;
}
.link-personal a{
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    font-size: 25px;
}

@media (max-width:670px ){
    .co {
        height: 1000px;
        margin: 100px 0px 100px 0px;
    }
    .co-img img{
        width: 100%;
    } 
    .co span{
        font-size: 22px;
        color: #6a9a8c;
        Text-shadow: 3px 3px 5px #dfdfcd;
    }
    .co p{
        font-size: 18px;
        margin: 80px 20px 80px 20px;
        line-height: 1.5em;
    }
    .link-personal a{
        color: #6a9a8c;
        Text-shadow: 3px 3px 5px #dfdfcd;
        font-size: 18px;
    }
}

