/* require_tree .
= require_self */


/* 体験教室 　ページ */
.experience {
    width: 100%;
    height: 1000px;
    margin: 200px 0px 100px 0px;
}
.experience h1{
    margin: 0px 300px 20px 300px;
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #dfdfcd;
    border-bottom: 2px solid #6a9a8c;
}

.experience p{
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    line-height: 2em;
}
.experience-img img{
    width: 60%;
} 
@media (max-width:670px ){
    .experience {
        height: 800px;
        margin: 100px 0px 0px 0px;
    }
    .experience h1{
        margin: 0px 0px 20px 0px;
        font-size: 22px;
        color: #6a9a8c;
        Text-shadow: 3px 3px 5px #dfdfcd;
    }
    .experience-img img{
        width: 100%;
    } 
    .experience p{
        font-size: 16px;
        margin: 80px 10px 80px 10px;
        line-height: 1.5em;
    }
}
