/* =require_tree .
= require_self */


/*トップ 茶道×カウンセリング*/

/* ====================================================================== */
/*トップ 茶道×カウンセリング*/
.top-warpper  {
    width: 100%;
    height: 750px;
    padding-top: 50px;
    margin-bottom: 110px;
    background: linear-gradient(to bottom,#dfdfcd  0%,  #ffffff 100%); 
}
.text {
    margin-left: 20px;
    line-height :3.2em; 
    Letter-spacing:0.5em;
    writing-mode: vertical-rl;
    Text-shadow: 3px 3px 5px #6a9a8c;
    font-size: 27px;
}
.media-top {
    display: flex;
    padding-top: 100px;
}
.container img{
    width: 60%;
    margin-left: 10%;
    height: 600px;
    object-fit: cover;
} 
.container h1{
    color: #6a9a8c;
    width: 30%;
    padding-left: 150px;
    padding-top: 30px;
}
/* スマホ */
@media (max-width:670px ) {
    .top-warpper  {
        height: 400px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0;
    }
    .media-top img{
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 0;
        width: 100%;
        margin-left: 0px;
        height: 300px;
    } 
    .grade-top {
        position: absolute;
        background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
    }
    .text {
        position: absolute;
        top: 0;
        left: 10%;
        height: 300px;
        z-index: 10;
        margin-left: 0px;
        line-height :2em; 
        Letter-spacing:0.5em;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .container {
        padding-top: 60px;
    }
    .container h1{
        width: 100%;
        padding-left: 0px;
        padding-top: 0px;
    }
    
    .media-top {
        position: relative;
        width: 100%;
        height: 300px;
    }
      }


/* ――――――――――――――――――――――――――――――――― */
/* good-point */

/*  美味しいお菓子*/
.okashi img{
    position: absolute;
    top: 0px;
    left: 10%;
    z-index: 0;
    width: 30%;
    height: 300px;
    object-fit: cover;
} 
.grade-okashi {
    position: absolute;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
    top: 0;
    left: 10%;
    width: 30%;
    height: 300px;
}
.text-okashi {
    position: absolute;
    top: 0;
    left: 35%;
    height: 300px;
    z-index: 10;
}
.text-okashi p{
    font-size: 40px !important;
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #6a9a8c;
}
.okashi {
    position: relative;
    width: 100%;
    height: 300px;
}

@media (max-width:670px ) {
    .okashi img{
        width: 30%;
        height: 100px;
        left: 0;
    } 
    .grade-okashi {
        width: 31%;
        height: 100px;
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));

    }
    .text-okashi {
        top: 20px;
        height: 100px;
    }
    .text-okashi p{
        font-size: 20px !important;
        margin: 0 !important;
    }
    .okashi {
        height: 100px;
    }

}
/* ――――――――――――――――――――――――――――――――― */

/* 四季 */

.shiki {
    position: relative;
    width: 100%;
    height: 500px;
}
.shiki img{
    position: absolute;
    top: -50px;
    right: 10%;
    z-index: 0;
    width: 30%;
    height: 500px;
    object-fit: cover;
} 
.grade-shiki {
    position: absolute;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
    top: -50px;
    right: 10%;
    width: 30%;
    height: 500px;
}
.text-shiki {
    position: absolute;
    top: 60px;
    right: 35%;
    height: 500px;
    z-index: 10;
}
.text-shiki p{
    font-size: 40px !important;
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #6a9a8c;
}


@media (max-width:670px ) {
    .shiki {
        height: 150px;
    }
    .shiki img{
        top: 0;
        right: 0;
        width: 30%;
        height: 150px;
    } 
    .grade-shiki {
        top: 0;
        right: 0;
        width: 31%;
        height: 150px;
        background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));

    }
    .text-shiki {
        top: 60px;
        right: 45%;
        height: 150px;
    }
    .text-shiki p{
        font-size: 20px !important;
        margin: 0 !important;
    }
    
}

/* ――――――――――――――――――――――――――――――――― */

/* 自分と向き合える時間 */

.only {
    position: relative;
    width: 100%;
    height: 500px;
}
.only img{
    position: absolute;
    top: -150px;
    left: 10%;
    z-index: 0;
    width: 30%;
    height: 500px;
    object-fit: cover;
} 
.grade-only {
    position: absolute;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
    top: -150px;
    left: 10%;
    width: 30%;
    height: 500px;
}
.text-only {
    position: absolute;
    top: 0;
    left: 35%;
    height: 500px;
    z-index: 10;
}
.text-only p{
    font-size: 40px !important;
    color: #6a9a8c;
    Text-shadow: 3px 3px 5px #6a9a8c;
}



@media (max-width:670px ) {
    .only {
        height: 150px;
    }
    .only img{
        top: 0;
        left: 0;
        width: 30%;
        height: 150px;
    } 
    .grade-only {
        top: 0;
        left: 0;
        width: 31%;
        height: 150px;
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));

    }
    .text-only {
        height: 150px;
        left: 45%;
        top: 50px;
    }
    .text-only p{
        font-size: 20px !important;
        margin: 0 !important;
    }
}

/* スライドショー画像 お稽古の様子 */
.messege h1{
    color: #6a9a8c;
    border-bottom: 2px solid #6a9a8c;
    margin: 100px;
}
.messege p{
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 25px;
    line-height: 50px;
    
}
.messege span{
    font-size: 30px !important;
    color: #6a9a8c;
}
.yousu {
    text-align: left;
    padding-left: 25%;
}
.messege-warpper{
    display: flex;
    align-items: center;
    height: 450px;
    overflow: hidden;
}
.content-img {
    margin-left: 15px;
    width: 500px;
    height: 500px;
}
.slideshow {
    padding: 0px;
    display: flex;
    animation: loop-slide 20s infinite linear 1s both;
}
@keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

@media (max-width:670px ) {
    .messege h1{
        margin: 0px;
        font-size: 22px;
        width: 100%;
    }
    .messege p{
        margin: 40px 10px 40px 10px;
        font-size: 16px;
        line-height: 2em;
    }
    .messege-warpper{
        height: 210px;
    }
    .content-img {
        margin-left: 5px;
        width: 200px;
        height: 200px;
    }
    .yousu {
        padding-left: 0%;
    }
    .messege span{
        font-size: 16px !important;
    }
}


/* ――――――――――――――――――――――――――――――――― */
/*各種ご案内*/

.top-information {
    margin: 100px;
    height: 600px;
}
.informations h1{
    color: #6a9a8c;
    border-bottom: 2px solid #dee7ec;
}
.menu {
    float: left;
    height: 500px;
    width: 25%;
    transition: all 0.5s;
}
.menus {
    margin-top: 100px;
}
.menu-icon img{
    height: 70%;
    width: 70%;
    opacity: 0.65;
}
.menu:hover {
    opacity: 0.5;
}
.menu a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}

@media (max-width:670px ){
    .top-information {
        margin: 10px;
        height: 550px;
    }
    .menu {
        height: 250px;
        width: 50%;
    }
    .menu a{
        font-size: 15px;
        text-decoration: none;
    }
    .menus {
        margin-top: 50px;
    }
}


/* ――――――――――――――――――――――――――――――――― */
/* お問い合わせ */
.contact-warpper {
    height: 800px;
    text-align: left;
    margin: 100px;
}
.contact {
    color: #6a9a8c;
    border-bottom: 2px solid #dee7ec;
}
.contact-form text_field{
    font-size: 18px;
    color: black;
    line-height: 10px;
}
.contact-form label{
    width: 35%;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #dee7ec;
}
.contact-form textarea{
    width: 50%;
    font-size: 18px;
    padding: 10px;
    height: 200px;
    border: 1px solid #dee7ec;
    font-family: serif;
}
.contact-submit {
    background-color: #dee7ec;
    color: #889eab;
}
.contact-submit:hover {
    background-color: #b4cbd7;
    color: #718997;
}
@media (max-width:670px ){
    .contact-warpper {
        height: 550px;
        text-align: center;
        margin: 10px;
    }
    .contact h1{
        margin: 0px;
    }
    .contact{
        margin-bottom: 20px;
    }
    .contact-form input{
        width: 70%;
        font-size: 16px;
        padding: 3px;
    }
    .contact-form textarea{
        width: 70%;
        font-size: 16px;
        padding: 3px;
        height: 100px;
    }
}