<div class="admin_header">
  <div class="flex between">
    <p class="letter_spacing_sm line_height_sm">管理者画面<br>SAKURA　CLUB</p>
    <table>
      <tr>
        <td><a class="link ml_2 letter_spacing_sm" href="#">お稽古日記一覧</a></td>
        <td><a class="link ml_2 letter_spacing_sm" href="/daily_post/new">お稽古日記新規作成</a></td>
        <td><a class="link ml_2 letter_spacing_sm" href="#">お問い合わせ</a></td>
        <td><a class="link ml_2 letter_spacing_sm" href="#">体験教室予約</a></td>
      </tr>
    </table>
  </div>
</div>