<!DOCTYPE html>
<html>
  <head>
    <title>OchaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <header>
      <div class="headeres">
        <div class="header-left">
          <a href="/" >SAKURA CLUB</a>
          <div class="header-right">
            <a href="/co">カウンセリング</a>
            <a href="/class">クラス・お月謝</a>
            <a href="/experience">体験教室</a>
            <a href="/acsess">アクセス</a>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="footer-left">
        <p class="title">SAKURA CLUB</p>
      </div>
    </footer>
  <body>
</html>
