<!DOCTYPE html>
<html>
  <head>
    <title>OchaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "top", "admin", media: 'all', "data-turbo-track": "reload" %>

    <!-- jquery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%# google font %>
    <link href="https://fonts.googleapis.com/css2?family=Klee+One&family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
    <%# googleアナリティクス認識用スクリプト %>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-78GYS50PFF');
    </script>
  </head>
  <body>
    <header>
      <div class="flex between">
        <p class="letter_spacing_sm line_height_sm">茶道教室<br>SAKURA　CLUB</p>
        <table>
          <tr>
            <td><a class="link ml_2 letter_spacing_sm" href="#">カウンセリング</a></td>
            <td><a class="link ml_2 letter_spacing_sm" href="#">クラス・お月謝</a></td>
            <td><a class="link ml_2 letter_spacing_sm" href="#">体験教室</a></td>
            <td><a class="link ml_2 letter_spacing_sm" href="#">アクセス</a></td>
            <td><a class="link ml_2 letter_spacing_sm" href="#">お問い合わせ</a></td>
          </tr>
        </table>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p class="absolute bottom_0 left_0 letter_spacing_sm line_height_md mg_2">茶道教室<br>SAKURA　CLUB</p>
      <div class="absolute bottom_0 right_0 flex flex_column letter_spacing_sm line_height_md mg_1">
        <a class="link" href="mailto:sakura.club.info@gmail.com">メールアドレス：sakura.club.info@gmail.com</a>
        <a class="link" href="tel:080-1099-5052">電話番号：080-1099-5052</a>
        <a class="link" href="#">【　お問い合わせはこちらから　】</a>
      </div>
    </footer>
  <body>
</html>
